<div class="nav">

			<ul>
				<li><a href="/cvs">Home</a></li>
				<li><a href="/cvs/new">New</a></li>
				<li><a href="/home/about">About Us</a></li>
				<li><a href="/home/contact">Contact Us</a></li>
	

			</ul>	
</div>